*{
    margin: 0;
    box-sizing: border-box;
}
.title{
    color: rgb(0, 0, 0);
}
.gallary{
    display: flex;
    flex-wrap: wrap;
    
}
.items{
    display: block;
    padding: 10px;
}
.items img{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    object-fit: cover;
}